@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 200vh;
    background-color: #eee;   
}

div{
    font-family: "Merienda", cursive;
      
}

.div-topo{
    text-align: center;
    margin: auto;
}

.div-introducao{
    border: 1px solid black;
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
}

h1{
    position: sticky;
    top: 0px;
    font-family: "Merienda", cursive;
    text-align: center;
}

.p-primeiro{
    background-image: url('./rigby-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.p-segundo{
    background-image: url('./mordecai-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.div-topicos{
    font-family: Pacifico;
}

button{
    cursor: pointer;
    display: inline;
    margin: 0 3px;
    padding: 5px;
    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
}

.bt-links:hover{
    transition: 1s ease;
    background-color: gray;
}

.bt-bottom-right{
    position: fixed;
    bottom: 10px;
    right: 35px;
}

