body {
    text-align: center;
    width: 100%;
}

main section {
    border: 1px solid black;
    width: 300px;
    display: flex;
    justify-content: center;
    margin:8px auto;
    background-color: beige;
}

ul {
    list-style: none;
}

h1{
    text-shadow: 1px 1px 1px;
    color: blue;
}