@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0%;
    font-family: "Oleo Script", system-ui;
}
 
div p {
    text-align: justify;
}

.div-topo{
    text-align: center;
    margin: auto;
}


table{
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

td, th{
    padding: 5px;
    text-align: left;
}

thead tr{
    background-color: antiquewhite;
}

tbody tr:nth-child(odd){
    background-color: yellow;
}

tbody tr:nth-child(even){
    background-color: chartreuse;
}

tbody tr:hover {
    color: rgb(204, 199, 199);
}

input[type="checkbox"] + nav{
    display: none;
    position: absolute;
    background-color: yellow;
    padding: 10px;
    bottom: 0;
    left: 0;
    top: 35px;
    width: 150px;
    border: 1px solid black;
    
}

a{
    color: black;
    display: block;
    text-decoration: none;
    border-bottom: 0.1px solid black;
    padding: 5px;
}

a:hover{
    background-color: rgb(243, 243, 132);
}

input[type="checkbox"]:checked + nav{
    display: block;
}
input[type="checkbox"]{
    display: none;
}

h1, h3{
    text-align: center;
    text-shadow: 1px 1px 1px;
}

label{
    position: fixed;
    top: 0;
    user-select: none;
    cursor: pointer;
}

header{
    background-color: yellow;
    border: 1px solid black;
}

img{
    width: 500px;
}

footer{
    background-color: #24f708;
    border: 1px solid black;
    padding: 5px;
    
}

