body{
    background-color: #4e5861;
}

h1{
    text-align: center;
    color: beige;
    text-shadow: 1px 1px 1px;
}

footer{
    text-align: center;
}

#section1{
    display: flex;
    justify-content: center;
}

#section1 img:hover{
    cursor: pointer;
}

#section2{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

#section2 img:hover{
    cursor: pointer;
}

#section1 img {
    width: 250px;
    
}

#section2 img {
    width: 180px;
    
}