*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: black;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}

h2{
    color: white;
}
